.meme-gallery-page main {
	background-color: var(--primary-color-2);
	border-radius: 0.625rem;
	margin-inline: 25px;
	max-width: calc(var(--meme-container-width) + 50px);
	margin: auto;
}

.memes-grid-container {
	max-width: var(--meme-container-width);
	overflow-y: scroll;
	height: 90vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	align-items: center;
	margin: auto;
}

.memes-grid-container .img-container {
	margin: auto;
}

.meme-list-image {
	cursor: pointer;
}

.filter-search-section {
	display: flex;
}

.filter-search-section > .search-meme-input {
	flex-grow: 1;
}
.filter-search-section > .key-words-container {
	flex-grow: 1;
}
