:root {
	/* COLOR PALLET */
	--primary-color-1: #22252c;
	--primary-color-2: #383b42;

	/* SIZES */
	--header-height: 73px;
	--l-meme-container: 1250px;
	--m-meme-container: 800px;
	--editor-button-size: 2.45em;
}
