/* FONT BUTTONS */
.font-editors-container {
	display: grid;
	gap: calc(var(--m-editor-button-size) / 2);
	grid-template-columns: repeat(5, 1fr);
	background-color: #19a59f;
	border-radius: 15px;
	padding: 0.83em;
	width: 100%;
}

.font-editors-container select {
	grid-column: 1/-3;
	height: var(--m-editor-button-size);
	font-size: var(--m-editor-font-size);
	color: black;
	border: none;
	border-radius: 10px;
}

.font-editors-container .btn-font {
	/* width: var(--m-editor-button-size); */
	height: var(--m-editor-button-size);
	font-size: var(--m-editor-font-size);
	color: black;
	border: none;
	border-radius: 10px;
}

@media screen and (min-width: 630px) {
	.font-editors-container {
		gap: calc(var(--l-editor-button-size) / 2);
		width: 85%;
	}

	.font-editors-container .btn-font {
		/* width: var(--l-editor-button-size); */
		height: var(--l-editor-button-size);
		font-size: var(--l-editor-font-size);
	}

	.font-editors-container select {
		height: var(--l-editor-button-size);
		font-size: var(--l-editor-font-size);
	}
}

/* FONT COLOR BUTTONS  */
.font-editors-container .color-picker {
	position: relative;
}

.font-editors-container input[type='color'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
